<?xml version="1.0"?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Elreg.DigiRcMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Elreg.DigiSlotMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <applicationSettings>
      <Elreg.DigiRcMan.Properties.Settings>
        <setting name="Tracing" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="TraceAutoFlush" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MusicActivated" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SoundActivated" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="StartTestCase" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AlwaysShowExceptionMessages" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="UseMockSerialPort" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="UseMockVcuSerialPortReader" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AutoPauseAfterStart" serializeAs="String">
          <value>True</value>
        </setting>
      </Elreg.DigiRcMan.Properties.Settings>
      <Elreg.DigiSlotMan.Properties.Settings>
        <setting name="UseMockParallelPortReader" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="StartCarSound3DTest" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Tracing" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="TraceAutoFlush" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MusicActivated" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SoundActivated" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="UseMockSerialPortParser" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="UseMockParallelPortWriter" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="EnableGhostcars" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="EnableCentralUnit" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="StartTestCase" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AlwaysShowExceptionMessages" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="UseMockSerialPort" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="UseMockSerialPortReader" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="UseMockVcuSerialPortReader" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="StartWpfTest" serializeAs="String">
          <value>True</value>
        </setting>
      </Elreg.DigiSlotMan.Properties.Settings>
    </applicationSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Dlls"/>
    </assemblyBinding>
  </runtime>
  
</configuration>
